// App

.batch-logo {

	@media screen and (min-width: $large-screen) {
		margin-bottom:0;
	}
}

.batch-logo_image {
	max-width:280px;
}

.utilities {
	text-align:center;

	@media screen and (min-width: $large-screen) {
		text-align:right;
	}
}

.utilities_item {
	padding-bottom:$base-spacing;
}

.hero {
  padding-bottom:$medium-spacing;
  padding-top:$medium-spacing;

	@media screen and (min-width: $medium-screen) {
    padding-bottom:$large-spacing;
    padding-top:$large-spacing;
	}
}

.hero-headline {
  font-size:2.5em;
  text-align:center;
  text-shadow:0px 2px 0px rgba($dark-gray, 0.2);
}

.hero-warehouse {
    margin: 0 auto;
    line-height: 0;

    @media screen and (min-width: $medium-screen) {
    	width: 90%;
    }

    @media screen and (min-width: $large-screen) {
    	width: 70%;
    }
}

.bi-barrel {
  position: relative;
  top: -1000px;
  transition: top 0.2s linear;

	&.is-dropped {
		top: 0px;
	}
}

.rotate-flip {
	transform: rotate(90deg) scaleX(-1);
}

.feature-object {
  padding:0 $base-spacing;
  text-align:center;
}

.feature-object_icon {
	color:$barrel-gold;
	font-size:4em;

	@media screen and (min-width: $large-screen) {
		font-size:7em;
	}
}

.comment {
  font-family: $code-font-family;
	opacity: 0.5;
}

pre {
  background:$lighter-gray;
  border-radius:4px;
  color:$dark-gray;
  font-family: $code-font-family;
  font-size:$small-font-size;
  line-height:1.25em;
  overflow: auto;
  padding:5px;
  white-space: pre-line;
}

.pre-block {
	white-space: pre;
}

code {
  font-family: $code-font-family;
  font-size:$small-font-size;
  line-height:1.25em;

	.code-o {
		color:$code-object-color;
	}

	.code-c {
		color:$code-class-color;
	}

	.code-n {
		color:$code-name-color;
	}
}

.batch-g--docs {
	background:$barrel-gold-light;
	margin:0 -5px;

	[class^="batch-c"] {
		background:#ffffff;
	}
}

.batch-g--border-lg {
	background:$barrel-gold;

	[class^="batch-c"] {
		border-color:$barrel-gold;
	}
}

.batch-g--filled {
	background:$lighter-gray;

	[class^="batch-c"] {
		background:$light-gray;
		font-size:$small-font-size;
	}
}

.batch-g--dl {
  font-size:$small-font-size;
  margin:0 0 $medium-spacing;

	> [class^="batch-c"] {
		&:nth-child(odd) {
			text-align: right;
		}
	}
}

@mixin template-shared($bkg, $hgt) {
	background:$bkg;
  color:$white;
	text-align:center;
	
	@media screen and (min-width: $medium-screen) {
		height:$hgt;
	}
}

.batch-g--templates {
	margin-bottom:$small-spacing;

	header {
		@include template-shared($barrel-gold, 65px);
	}

	aside {
		@include template-shared($barrel-amber, 200px);
    
		&:nth-of-type(2) {
			opacity: 0.7;
		}
	}

	main {
		@include template-shared($barrel-green, 200px);
	}

	footer {
		@include template-shared($dark-gray, 65px);
	}
}

// Utility Classes
.highlight {
	color: $dark-gray;
	margin-bottom: 10px;
	text-align: left;
}

.strong {
	font-weight: bold;
}

.small-text {
	font-size: 0.75em;
	line-height: 1.25em;
}

.highlight-sm {

	.strong {
		font-weight: bold;
	}

	@media screen and (min-width: $medium-screen) {
		opacity: 0.4;

		.strong {
			font-weight: normal;
		}
	}
}

.highlight-md {
	opacity: 0.4;

	.strong {
		font-weight: normal;
	}

	@media screen and (min-width: $medium-screen) {
		opacity: 1;

		.strong {
			font-weight: bold;
		}
	}

	@media screen and (min-width: $large-screen) {
		opacity: 0.4;

		.strong {
			font-weight: normal;
		}
	}
}

.highlight-lg {
	opacity: 0.4;

	.strong {
		font-weight: normal;
	}

	@media screen and (min-width: $large-screen) {
		opacity: 1;

		.strong {
			font-weight: bold;
		}
	}
}

.show-sm {
	@media screen and (min-width: $medium-screen) {
		display: none;
	}
}

.hide-sm {
	@media screen and (max-width: $medium-screen) {
		display: none;
	}
}

.show-md {
	@media screen and (max-width: $medium-screen) {
		display: none;
	}

	@media screen and (min-width: $large-screen) {
		display: none;
	}
}

.hide-md {
  @media (min-width: $medium-screen) and (max-width: $large-screen) {
		display: none;
	}
}

.show-lg {
	@media screen and (max-width: $medium-screen) {
		display: none;
	}

  @media (min-width: $medium-screen) and (max-width: $large-screen) {
		display: none;
	}
}

.hide-lg {
	@media screen and (min-width: $large-screen) {
		display: none;
	}
}

.footer {
  padding-bottom:$xxlarge-spacing;
  padding-top:$xxlarge-spacing;
  font-size: $small-font-size;
}
