// Buttons

.btn,
button {
  -webkit-font-smoothing: antialiased;
  appearance: none;
  background-color: $action-color;
  border-radius: $base-border-radius;
  border: none;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 400;
  line-height: 1;
  margin-right: $small-spacing;
  padding: 0.75em 1em;
  text-align:center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  @media screen and (min-width: $medium-screen) {
    margin-right: $base-spacing;
  }

  &:hover,
  &:focus {
    background-color: darken($action-color, 15%);
    color: $white;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  & + &:last-of-type {
    margin-right: 0;
  }

  &.btn--secondary {
    background-color: $white;
    border:1px solid $action-color;
    color: $action-color;

    &:hover,
    &:focus {
      background-color: $lighter-gray;
    }
  }
}

.btn--small {
  font-size: $small-font-size;  
  margin-right: $small-spacing;
  padding: 0.75em 0.9em;

  & + &:last-of-type {
    margin-right: 0;
  }
}

.btn_notes {
  display: block;
  font-size: 0.7em;
  font-style: italic;

  @media screen and (min-width: $medium-screen) {
    display: inline;
  }
}

.link--light {
  color:$white;

  &:hover,
  &:focus {
    color: $barrel-gold;
  }
}

.link--underlined {
  border-bottom-color: $action-color;
  border-bottom-style: solid;
  border-bottom-width: 2px;

  &.link--light {
    border-bottom-color: transparentize($white, 0.75);

    &:hover {
      border-bottom-color: transparentize($barrel-gold, 0.75);
    }
  }
}
