// Layout

.l-row {
	padding:$base-spacing $small-spacing;
	overflow:hidden;
	@include media($medium-screen) {
		padding:$large-spacing $small-spacing;
	}
}

.l-row--border-top {
	border-top:1px solid $barrel-amber;
}

.l-row--amber {
	color:$white;
	background-color:$barrel-amber;
}

.l-row--green {
	color:$white;
	background-color:$barrel-green;
}

.l-row--gold {
	color:$white;
	background-color:$barrel-gold;
}

.l-row--gray {
	background-color:$light-gray;
}

.l-row--gray--light {
	background-color:$lighter-gray;
}

.l-container {
	@include outer-container($container-width);
}

.l-section {
	margin-bottom:$medium-spacing;
}