// Layout

.l-row {
  overflow:hidden;
  padding:$base-spacing $small-spacing;
	
  @media screen and (min-width: $medium-screen) {
		padding:$large-spacing $small-spacing;
	}
}

.l-row--border-top {
	border-top:1px solid $barrel-amber;
}

.l-row--amber {
  background-color:$barrel-amber;
  color:$white;
}

.l-row--green {
  background-color:$barrel-green;
  color:$white;
}

.l-row--gold {
  background-color:$barrel-gold;
  color:$white;
}

.l-row--gray {
	background-color:$light-gray;
}

.l-row--gray--light {
	background-color:$lighter-gray;
}

.l-container {
  margin-left: auto;
  margin-right: auto;
  max-width: $container-width;
}

.l-section {
	margin-bottom:$large-spacing;

	&:last-of-type {
		margin-bottom: 0;
	}
}
