// Batch 1.0.0
// GPL-2.0 License

// Cell Gutter
// Must be an even number
$batch-gutter:	10px;

// Cell Padding
$batch-padding:	5px;


// Batch units
$unit-sizes : (
	1 : (1, 2, 3, 4, 8),
	2 : (3),
	3 : (4, 8),
	5 : (8),
	7 : (8)
);

// We'll loop through $unit-sizes map to distill the cell classes.
// The key is the numerator and then we
// loop through the value array for each denominator.
// The key/value determines the name and is used to calculate the width percentage.
// Default size. 3rds, 4ths and 8ths:
// 1-1, 1-2, 1-3, 1-4, 1-8
// 2-3
// 3-4, 3-8
// 5-8
// 7-8
@mixin single-batch($breakpoint:'') {
	@each $key, $unit-size in $unit-sizes {
		@for $i from 1 to (length($unit-size)+1) {
			.batch-u#{$breakpoint}-#{$key}-#{nth($unit-size, $i)} {
				@include flex(0 0 percentage($key/nth($unit-size, $i)) );
			}
		}
	}
}

// Base units
@include single-batch();

// Medium screen units
@include media($medium-screen) {
	@include single-batch('-md');
}

// Large screen units
@include media($large-screen) {
	@include single-batch('-lg');
}

// Batch container
.batch-c {
	overflow:hidden;
}

// Batch grid
.batch-g {
	@include align-items(stretch);
	@include display(flex);
	@include flex-flow(row wrap);
	@include justify-content(flex-start);
}

.batch-g--gutter {
	margin:0 (-$batch-gutter/2);
	> [class^="batch-u"] {
		border-width:0 $batch-gutter/2 $batch-gutter;
		border-style:solid;
		border-color:transparent;
	}
}

.batch-g--padded {
	> [class^="batch-u"] {
		padding:$batch-padding;
	}
}

