// Batch 1.0.0
// GPL-2.0 License

// Breakpoints unless already defined when using Bitters.
$medium-screen: em(640) !default;
$large-screen: em(860) !default;

// Cell Gutter
// Must be an even number
$batch-gutter:	10px;

// Cell Padding
$batch-padding:	5px;

// Cell Border
$batch-border:	1px;

// Cell Border Color
$batch-border-color:	#666666;


// Batch cells
$cell-sizes : (
	1	:	(1, 2, 3, 4, 6, 8, 12, 24),
	2	:	(3),
	3	:	(4, 8),
	5	:	(6, 8, 12, 24),
	7	:	(8, 12, 24),
	11	:	(12, 24),
	13	:	(24),
	17	:	(24),
	19	:	(24),
	23	:	(24)
);

// We'll loop through the $cell-sizes map to distill the cell classes.
// The key is the numerator and then we loop through the value array for each denominator.
// The key-value pair is used in the class the name and is also used to calculate the width percentage.
// Default sizes are 3rds, 4ths, 6ths, 8ths, 12ths and 24ths:
// 1-1, 1-2, 1-3, 1-4, 1-6, 1-8, 1-12, 1-24
// 2-3
// 3-4, 3-8
// 5-6, 5-8, 5-12, 5-24
// 7-8, 7-12, 7-24
// 11-12, 11-24
// 13-24
// 17-24
// 19-24
// 23-24
@mixin small-batch($breakpoint:'') {
	@each $key, $cell-size in $cell-sizes {
		@for $i from 1 to (length($cell-size)+1) {
			$cell-size-percentage: (percentage($key/nth($cell-size, $i)));
			.batch-c#{$breakpoint}-#{$key}-#{nth($cell-size, $i)} {
				@include flex(0 0 auto);
				width:$cell-size-percentage;
			}
			.batch-g--gutter {
				> .batch-c#{$breakpoint}-#{$key}-#{nth($cell-size, $i)} {
					width:calc(#{$cell-size-percentage} - #{$batch-gutter});
					margin: ($batch-gutter/2);
				}
			}
		}
	}
}

// Base cells
@include small-batch();

// Medium screen cells
@include media($medium-screen) {
	@include small-batch('-md');
}

// Large screen cells
@include media($large-screen) {
	@include small-batch('-lg');
}

// Batch grid wrapper
.batch-g {
	@include align-items(stretch);
	@include display(flex);
	@include justify-content(flex-start);
	@include flex-direction(row);
	@include flex-wrap(wrap);
}

.batch-g--border {
	> [class^="batch-c"] {
		border:$batch-border solid $batch-border-color;
	}
}

.batch-g--gutter {
	margin:0 (-$batch-gutter/2);
}

.batch-g--padding {
	> [class^="batch-c"] {
		padding:$batch-padding;
	}
}

.batch-g--reverse {
	@include flex-direction(row-reverse);
}

.batch-g--valign-top {
	@include align-items(flex-start);
}

.batch-g--valign-center {
	@include align-items(center);
}

.batch-g--valign-bottom {
	@include align-items(flex-end);
}

.batch-g--align-center {
	@include justify-content(center);
}

.batch-g--align-right {
	@include justify-content(flex-end);
}



