// Typography
$base-font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
$heading-font-family: 'Raleway', sans-serif;
$heading-font-weight: 500;
$code-font-family: Consolas,monaco,monospace;

// Font Sizes
$base-font-size: 1em;
$small-font-size: 0.8em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$medium-spacing: $base-spacing * 1.5;
$large-spacing: $base-spacing * 2;
$xlarge-spacing: $base-spacing * 3;
$xxlarge-spacing: $base-spacing * 3;
$base-z-index: 0;
$container-width: 1080px;

// Colors
$dark-gray: #333333;
$medium-gray: #dfdfdf;
$light-gray: #dddddd;
$lighter-gray: #f9f9f9;
$barrel-amber: #BF3100;
$barrel-green: #8EA604;
$barrel-green-light: lighten($barrel-green, 50%);
$barrel-gold: #EC5B05;
$barrel-gold-light: lighten($barrel-gold, 50%);
$white:	#ffffff;

// Doc Colors
$code-name-color: $barrel-amber;
$code-class-color: $barrel-green;
$code-object-color: $barrel-gold;

// Font Colors
$base-background-color: $white;
$base-font-color: $dark-gray;
$action-color: $barrel-green;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

//Breakpoints
$medium-screen: 600px;
$large-screen: 900px;
