// Docs

pre {
	font-size:0.8em;
	line-height:1.25em;
	font-family: Consolas,monaco,monospace; 
	color:$dark-gray;
	white-space: pre-line;
	background:$lighter-gray;
	border-radius:4px;
	padding:5px;
	display: inline-block;
}

code {
	font-size:0.8em;
	line-height:1.25em;
	font-family: Consolas,monaco,monospace; 
	.code-o {
		color:$code-object-color;
	}
	.code-c {
		color:$code-class-color;
	}
	.code-n {
		color:$code-name-color;
	}
}

.batch-g_docs {
	background:$barrel-gold-light;
	margin-bottom:30px;
	[class^="batch-u"] {
		background:#ffffff;
		padding:$batch-gutter;
		border-color:$barrel-gold-light;
		p {
			color: $dark-gray;
			font-size: 0.75em;
			line-height: 1.25em;
			margin-bottom: 10px;
			text-align: left;
			span {
				font-weight: bold;
			}
		}
	}
}
