// Docs

pre {
	font-size:0.8em;
	line-height:1.25em;
	font-family: $code-font-family;
	color:$dark-gray;
	white-space: pre-line;
	background:$lighter-gray;
	border-radius:4px;
	padding:5px;
	display: inline-block;
}

.pre-block {
	white-space: pre;
	display:block;
}

code {
	font-size:0.8em;
	line-height:1.25em;
	font-family: $code-font-family; 
	.code-o {
		color:$code-object-color;
	}
	.code-c {
		color:$code-class-color;
	}
	.code-n {
		color:$code-name-color;
	}
}

.batch-g_docs {
	background:$barrel-gold-light;
	margin-bottom:30px;
	padding: $batch-gutter $batch-gutter/2 0 $batch-gutter/2;
	[class^="batch-u"] {
		background:#ffffff;
		padding:$batch-gutter;
		border-color:$barrel-gold-light;
		// p {
		// 	color: $dark-gray;
		// 	font-size: 0.75em;
		// 	line-height: 1.25em;
		// 	margin-bottom: 10px;
		// 	text-align: left;
		// 	span {
		// 		font-weight: bold;
		// 	}
		// }
	}
}
