// Grid

// Gutter
$batch-gutter:	10px;

@mixin batch-u {
	border-width:0 $batch-gutter/2 $batch-gutter;
	border-style:solid;
	border-color:transparent;
}

$unit-sizes : (
	1 : (1, 2, 3, 4, 8),
	2 : (3),
	3 : (4, 8),
	5 : (8),
	7 : (8)
);

// Loop through unit sizes map to create 3rds, 4ths and 8ths grid units
// 1-1, 1-2, 1-3, 1-4, 1-8
// 2-3
// 3-4, 3-8
// 5-8
// 7-8
@mixin single-batch($breakpoint:'') {
	@each $key, $unit-size in $unit-sizes {
		@for $i from 1 to (length($unit-size)+1) {
			.batch-u#{$breakpoint}-#{$key}-#{nth($unit-size, $i)} {
				@include batch-u;
				@include flex(0 0 percentage($key/nth($unit-size, $i)) );
			}
		}
	}
}

// Batch container
.batch-c {
	overflow:hidden;
}

// Batch grid
.batch-g {
	@include align-items(stretch);
	@include display(flex);
	@include flex-flow(row wrap);
	@include justify-content(flex-start);
	margin:0 (-$batch-gutter/2);
}

//Batch units

// Base units
@include single-batch();

// Medium screen units
@include media($medium-screen) {
	@include single-batch('-md');
}

// Large screen units
@include media($large-screen) {
	@include single-batch('-lg');
}
