<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Batch | 3 Column Template</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link href="css/batch.min.css" rel="stylesheet">
    <!-- The docs.min.css stylesheet is for showing template colors only and can be removed.-->
    <link href="css/docs.min.css" rel="stylesheet">

  </head>
  <body>

    <!-- The 'batch-g--templates' class is for showing template colors only and can be removed. -->
    <div class="batch-g batch-g--padding batch-g--templates">
      <header class="batch-c-1-1">
        Header
      </header>

      <aside class="batch-c-1-1 batch-c-md-1-4">
        Aside
      </aside>

      <main class="batch-c-1-1 batch-c-md-1-2">
        Main
      </main>

      <aside class="batch-c-1-1 batch-c-md-1-4">
        Aside
      </aside>

      <footer class="batch-c-1-1">
        Footer
      </footer>
    </div>

  </body>
</html>
