<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Batch | 1 Column Stream Template</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link href="css/batch-mixins.min.css" rel="stylesheet">
  </head>
  <body>

    <!-- The 'batch-g--templates' class is for showing template colors only and can be removed. -->
    <div class="content">
      <div class="column" style="background: blue;">COLUMN</div>
      <div class="column" style="background: red;">COLUMN</div>
      <div class="column" style="background: yellow;">COLUMN</div>
      <div class="column" style="background: olive;">COLUMN</div>
      <div class="column" style="background: teal;">COLUMN</div>
      <div class="column" style="background: grey;">COLUMN</div>
      <div class="column" style="background: light-green;">COLUMN</div>
      <div class="column" style="background: orange;">COLUMN</div>
      <div class="column" style="background: green;">COLUMN</div>
      <div class="column" style="background: teal;">COLUMN</div>
      <div class="column" style="background: purple;">COLUMN</div>

    </div>

  </body>
</html>
